<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Google Drive</title>
    <link rel="icon" href="/public/Pics/Google_Drive_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Product+Sans">

    <link rel="stylesheet" href="/public/css/mainstyle.css">
    <link rel="stylesheet" href="/public/css/style1.css">
    <link rel="stylesheet" href="/public/css/style2.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="index.js"></script>
</head>
<body>
    <div class="container">
        <!-- HEADER SIDE BAR CONTENT-->
        <header>
        <div class="sidebar">
            <div class="logo">
                
                <div class="drive-cont"><img src="/public/Pics/Google_Drive_logo.png" alt="" id="drive-logo"> Drive</div>
            <div class="add-new">
                <button class="add-new-button" id="dropdown-button" onclick="toggleDropdown(this)"><span id="plus-sign">&plus;</span>New</button>
                <div class="dropdown-content" id="myDropdown">
                    <button class="dp"><img src="/public/Pics/new-folder.png" alt="" class="logo-img">New Folder</button>
                    <button class="dp"><img src="/public/Pics/file-upload.png" alt="" class="logo-img"> File Upload</button>
                    <button class="dp"><img src="/public/Pics/folder-upload.png" alt="" class="logo-img"> Folder Upload</button>
                </div>
            </div>
            <div class="list">
                <ul id="features">
                    <div class="l1">
                        <button class="l1-button" id="home"><img src="/public/Pics/home.png" alt="logo" class="logo-img">Home</button>
                        <button class="l1-button" id="myDrive"><img src="/public/Pics/mydrive.png" alt="" class="logo-img"> My Drive</button>
                        <button class="l1-button" id="computers"><img src="/public/Pics/computers.png" alt="" class="logo-img"> Computers</button>
                    </div>
                    <br>
                    <div class="l2">
                        <button class="l1-button" id="share"> <img src="/public/Pics/share.png" alt="share" class="logo-img">Shared with me</button>
                        <button class="l1-button" id="recent"><img src="/public/Pics/clock.png" alt="recent" class="logo-img"> Recent</button>
                        <button class="l1-button" id="starred"><img src="/public/Pics/star.png" alt="starred" class="logo-img"> Starred</button>
                    </div>
                    <br>
                    <div class="l3">
                        <button class="l1-button" id="spam"><img src="/public/Pics/danger.png" alt="danger" class="logo-img"> Spam</button>
                        <button class="l1-button" id="trash"> <img src="/public/Pics/trash.png" alt="Trash" class="logo-img">Trash</button>
                        <button class="l1-button" id="storage"> <img src="/public/Pics/cloud.png" alt="Storage" class="logo-img">Storage</button>

                        <!-- storage  bar here -->
                        <div class="loading-bar">
                            <div class="progress" style="width: 50%;"></div>
                        </div>
                        <!-- example -->
                        <div class="c">0.0 GB of 15 GB used</div>
                        <br>
                        <button id="more-storage">Get more storage</button>
                    </div>
                </ul>
            </div>
        </div>
        </header>
        
        <!-- In the body, only the main-box must be changed when the user click a button from the header (Home/My drive/ Computers/ shared with me/ recents/ etc....) -->
        <div class="body">

            <!-- The search-container-->
            <div class="search-container">
                <button id="search-button"><img src="/public/Pics/search.png" alt="search" id="search-img"></button>
                <input id="search-bar" type="search" placeholder="Search in Drive">
                <button id="setting-filter"><img src="/public/Pics/settings.png" alt="" id="setting-filter-img"></button>
            </div>

            <!-- HERE is the main-box which should change 
                after the user clicks the one of the buttons (Home/My Drive/Computers/Shared with me/ Recent/......) -->
            <div id="main-box">

                <!-- HOME -->
                <div class="content hidden" id="homeContent">
                    <div class="Layer1">
                        <div class="title">Welcome to Drive</div>
                        <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                    </div>
                    <div class="Layer2">
                        
                        <div class="ff-container">
                            <!-- Files and Folders buttons -->
                            <button class="ff-btn" id="filesBtn" onclick="handleButtonClick('filesBtn')">
                                <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                <img src="/public/Pics/files.png" alt="Files" class="logo-img-main1">
                                <span>Files</span>
                                
                            </button>
                            <button class="ff-btn" id="foldersBtn" onclick="handleButtonClick('foldersBtn')">
                                <img src="/public/Pics/folder.png" alt="Folders" class="logo-img-main1">
                                <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                <span>Folders</span>
                                
                            </button>
                        </div>

                        <div class="layout-container">
                            <!-- Layout btns -->
                            
                            <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">

                            </button>
                            <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                            </button>
                        </div>
                        
                    </div>


                </div>

                <!-- My drive -->
                <div class="content hidden" id="myDriveContent">
                    <div class="main-div">
                        <div class="features-mydrive">
                            <button class="mydrive-button" id="dropdown-button" onclick="toggleDropdown(this)">My Drive <span class="arrow">&#9660;</span></button>
                            <div class="dropdown-content" id="myDropdown">
                                <button class="dp"><img src="/public/Pics/new-folder.png" alt="" class="logo-img">New Folder</button>
                                <button class="dp"><img src="/public/Pics/file-upload.png" alt="" class="logo-img"> File Upload</button>
                                <button class="dp"><img src="/public/Pics/folder-upload.png" alt="" class="logo-img"> Folder Upload</button>
                            </div>
                        </div>



                        <div class="layout-container">
                            <!-- Layout btns -->
                            
                            <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">

                            </button>
                            <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                            </button>
                        </div>
                    </div>

                    

                    <div class="features-container">

                        <div class="features">
                            <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Type <span class="arrow">&#9660;</span></button>
                            <div class="dropdown-content">
                                <button>Documents</button>
                                <button>PDFs</button>
                                <button>Word</button>
                            </div>
                        </div>

                        <div class="features">
                            <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">People <span class="arrow">&#9660;</span></button>
                            <div class="dropdown-content">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                            </div>
                        </div>

                        <div class="features">
                            <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Modified <span class="arrow">&#9660;</span></button>
                            <div class="dropdown-content">
                                <button>Today</button>
                                <button>Last 7 days</button>
                                <button>Last 30 days</button>
                                <button>This year </button>
                                <button>Last year</button>
                                <button>Custom date range</button>
                            </div>
                        </div>

                        
                    </div>
                    <br>


                    <div class="layer3">
                        <div class="files-container">
                            <div class="file-header">
                                <div class="file-column" id="name">Name</div>
                                <div class="file-column" id="owner">Owner</div>
                                <div class="file-column" id="modify">Last Modified</div>
                                <div class="file-column" id="size">File Size</div>
                                <div class="more-btn">
                                    <div class="file-column" id="dropdown-button" onclick="toggleDropdown(this)"><span id="more"><img src="/public/Pics/dots.png" alt="" id="more-img"></span></div>
                                    <div class="dropdown-content" >
                                        <div class="show-more">hello</div>
                                        <button></button>
                                        <button></button>  
                                    </div> 
                                </div>
                            
                                
                                
                            
                            </div>
                            <div id="file-list"></div>

                            <button id="create-file-btn">Create File</button>
                            <div id="file-inputs" style="display: none;">
                                <input type="text" id="file-name" placeholder="File Name">
                                <input type="text" id="file-owner" placeholder="Owner">
                                <input type="text" id="file-location" placeholder="Location">
                                <button id="submit-file-btn">Submit</button>
                            </div>
                        </div>
                    </div>



                </div>
                
                <!-- Computers -->
                <div class="content hidden" id="computersContent">
                    <div class="Layer1">
                        <div class="title">Computers</div>
                        <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                    </div>

                </div>

                <!-- shared with me -->
                <div class="content hidden" id="shareContent">
                    <div class="Layer1">
                        <div class="title">Shared with me</div>
                        <div class="sharedA">
                            
                            <div class="layout-container2">
                                <!-- Layout btns -->
                                <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">
    
                                </button>
                                <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                                </button>
                            </div>

                            <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                        </div>
                        
                    </div>

                    <div class="Layer2">
                        <div class="features-container">

                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Type <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Documents</button>
                                    <button>PDFs</button>
                                    <button>Word</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">People <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>1</button>
                                    <button>2</button>
                                    <button>3</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Modified <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Today</button>
                                    <button>Last 7 days</button>
                                    <button>Last 30 days</button>
                                    <button>This year </button>
                                    <button>Last year</button>
                                    <button>Custom date range</button>
                                </div>
                            </div>
    
                            
                        </div>
                    </div>
                    

                </div>

                <!-- recent -->
                <div class="content hidden" id="recentContent">
                    
                    <div class="Layer1">
                        <div class="title">Recent</div>
                        <div class="sharedA">
                            
                            <div class="layout-container2">
                                <!-- Layout btns -->
                                <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">
    
                                </button>
                                <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                                </button>
                            </div>

                            <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                        </div>
                            
                    </div>

                    <div class="Layer2">
                        <div class="features-container">

                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Type <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Documents</button>
                                    <button>PDFs</button>
                                    <button>Word</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">People <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>1</button>
                                    <button>2</button>
                                    <button>3</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Modified <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Today</button>
                                    <button>Last 7 days</button>
                                    <button>Last 30 days</button>
                                    <button>This year </button>
                                    <button>Last year</button>
                                    <button>Custom date range</button>
                                </div>
                            </div>
    
                            
                        </div>

                    </div>
                </div>

                <!-- starred -->
                <div class="content hidden" id="starredContent">

                    <div class="Layer1">
                        <div class="title">Starred</div>
                        <div class="sharedA">
                            
                            <div class="layout-container2">
                                <!-- Layout btns -->
                                <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">
    
                                </button>
                                <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                                </button>
                            </div>

                            <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                        </div>
                            
                    </div>

                    <div class="Layer2">
                        <div class="features-container">

                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Type <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Documents</button>
                                    <button>PDFs</button>
                                    <button>Word</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">People <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>1</button>
                                    <button>2</button>
                                    <button>3</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Modified <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Today</button>
                                    <button>Last 7 days</button>
                                    <button>Last 30 days</button>
                                    <button>This year </button>
                                    <button>Last year</button>
                                    <button>Custom date range</button>
                                </div>
                            </div>
    
                            
                        </div>

                    </div>

                </div>

                <!-- spam -->
                <div class="content hidden" id="spamContent">

                    <div class="Layer1">
                        <div class="title">Spam</div>
                        <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                    </div>


                </div>
                <!-- trash -->
                <div class="content hidden" id="trashContent">

                    <div class="Layer1">
                        <div class="title">Trash</div>
                        <div class="sharedA">
                            
                            <div class="layout-container2">
                                <!-- Layout btns -->
                                <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">
    
                                </button>
                                <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                                </button>
                            </div>

                            <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                        </div>
                        
                    </div>

                    <div class="Layer2">
                        <div class="features-container">

                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Type <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Documents</button>
                                    <button>PDFs</button>
                                    <button>Word</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Modified <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Today</button>
                                    <button>Last 7 days</button>
                                    <button>Last 30 days</button>
                                    <button>This year </button>
                                    <button>Last year</button>
                                    <button>Custom date range</button>
                                </div>
                            </div>
    
                            
                        </div>
                    </div>

                </div>
                <!-- storage -->
                <div class="content hidden" id="storageContent">

                    <div class="Layer1">
                        <div class="title">Storage</div>
                        <div class="sharedA">
                            
                            <div class="layout-container2">
                                <!-- Layout btns -->
                                <button class="layout-btn" id="list-btn1" onclick="handleButtonClick('list-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/list.png" alt="List Layout" class="logo-img-main2">
    
                                </button>
                                <button class="layout-btn" id="grid-btn1" onclick="handleButtonClick('grid-btn1')">
                                    <img src="/public/Pics/tick.png" alt="Tick" class="tick">
                                    <img src="/public/Pics/grid.png" alt="Grid Layout" class="logo-img-main2">
                                </button>
                            </div>

                            <button id="details"><img src="/public/Pics/info.png" alt="view details" id="view-details-img"></button>
                        </div>
                        
                    </div>

                    <div class="Layer2">
                        <div class="features-container">

                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Type <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Documents</button>
                                    <button>PDFs</button>
                                    <button>Word</button>
                                </div>
                            </div>
    
                            <div class="features">
                                <button class="feature-btn" id="dropdown-button" onclick="toggleDropdown(this)">Modified <span class="arrow">&#9660;</span></button>
                                <div class="dropdown-content">
                                    <button>Today</button>
                                    <button>Last 7 days</button>
                                    <button>Last 30 days</button>
                                    <button>This year </button>
                                    <button>Last year</button>
                                    <button>Custom date range</button>
                                </div>
                            </div>
    
                            
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
        
</body>


</html>







