<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1 class="header">Sign up</h1>
            <h4 class="header2">to continue to Google Drive</h4>
        </div>
        <div class="right">
            <form id="signupForm">
                <div class="name-container">
                    <p>First Name:</p>
                    <input type="text" class="form-field" placeholder="First Name" name="firstName" required>
                    <p>Last Name:</p>
                    <input type="text" class="form-field" placeholder="Last Name" name="lastName" required>
                </div>
                <div class="email-container" style="display: none;">
                    <p>Email:</p>
                    <input type="email" class="form-field" placeholder="Email" name="email" required>
                </div>
                <div class="password-container" style="display: none;">
                    <p>Password:</p>
                    <input type="password" class="form-field" placeholder="Password" name="password" required>
                    <i id="eye" class="fa fa-eye" aria-hidden="true" onclick="togglePasswordVisibility()"></i>
                </div>
                <div class="button-container">
                    <button type="button" class="create-account" onclick="goToSignin()">Login</button>
                    <button type="button" id="next-button" class="next-button">Next</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/signup.js"></script>
</body>
</html>
