body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}
.container {
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    width: 55%;
    height: auto;
    border-radius: 20px;
    display: flex;
}
.left{
    flex-grow: 1.5;
}
.right{
    flex-grow: 1;
}
.header {
    margin-left: 30px;
    text-align: left;
    margin-top: 50px;
    font-weight: lighter;
    
}
.header2{
    margin-left: 30px;
    text-align: left;
    margin-top: 10px;
    font-weight: lighter;
    
}
.form-container {
    margin-top: 100px;

}
.form-field {
    margin-bottom: 15px;
    width: 85%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.button-container {
    margin-top: 140px;
    text-align: right;
    padding-right: 25px;
    
}
.button-container button {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}
.options-container {
    margin-top: 30px;
    font-size: 0.8rem;
}
.forgot{
    text-align: right;
    margin-right:5% ;
    margin-bottom:15px ;
    color: #4285f4;
    text-decoration: underline;
    display: block;
    text-align: right;
}
.create-account{
padding: 0 20px;
color: #4285f4;
}
.invalid {
    color: red;
}
